body{
    background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);;
}
#result{height: 450px;width: 450px;border: 5px solid #f69d3c;}
#camera{height: 450px;width: 450px;border: 5px solid #3f87a6;}